## Q1

In [11]:

emailaddress =str(input("enter your email address = "))
c_name= "(\w+)@(\w+)\.(com)"
r= re.match(c_name,emailaddress)
print (r.group(2))

enter your email address = rohan@yahoo.com
yahoo

## Q2

In [7]:
a=input("enter str seperated by comma = ")
l1=a.split(",")
print(list(l1))
l1.sort()
print(l1)

enter str seperated by comma = hi,my,name,is,harshit,and,i,am,doing,great
['hi', 'my', 'name', 'is', 'harshit', 'and', 'i', 'am', 'doing', 'great']
['am', 'and', 'doing', 'great', 'harshit', 'hi', 'i', 'is', 'my', 'name']

## Q4

In [12]:
def missing(a):
    n=len(a)
    total=(n+1)*(n+2)/2
    s=sum(a)
    return total - s
a=[1,2,3,5,6,7,8,9,10,11]
miss = missing(a)
print(miss)

4.0

## Q5

In [13]:
# remove dublicates

def remove_dublicates(l1):
    l2=[]
    for n in l1:
        if n not in l2:
            l2.append(n)
    return l2
l1=[10,11,11,22,54,88,12,10,22]
print("orignal list = ",l1)
print("i hate repeats i.e dublicate or repeated values removed = ",remove_dublicates(l1))

orignal list =  [10, 11, 11, 22, 54, 88, 12, 10, 22]
i hate repeats i.e dublicate or repeated values removed =  [10, 11, 22, 54, 88, 12]